<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<table border="black">
    <tr>
        <td>TICKET TYPE</td>        <td th:text="${ticketType}"></td>
        <td>TICKET QUANTITY</td>    <td th:text="${ticketQuantity}"></td>
        <td>TICKET PRICE</td>       <td th:text="${ticketPrice}"></td>
    </tr>
    <tr>
        <td>FOOD ID</td>        <td th:text="${foodId}"></td>
        <td>FOOD QUANTITY</td>  <td th:text="${foodQuantity}"></td>
        <td>FOOD PRICE</td>     <td th:text="${foodPrice}"></td>
    </tr>
</table>

<body>
</body>
</html>