<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <table style="border-collapse: collapse; width: 100%; text-align: right;" border="1">
        <tr>
            <td style="width: 20%;"><a href="/Main">Main</a></td>
            <td style="width: 20%;"><a href="/CartSummary">Cart</a></td>
            <div sec:authorize="isAuthenticated()">
                <td style="width: 20%;"><a href="/reservations">Reservations</a></td>
                <td style="width: 20%;"><a href="/account">Account</a></td>
                <td style="width: 20%;"><a href="/logout">Logout</a></td>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <td style="width: 20%;"><a href="/login">Login</a></td>
            </div>
        </tr>
    </table>
</div>