<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div th:replace="Header :: header"/>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/register}" th:object="${register}" method="post">
    <p>Email: <input type="text" th:field="*{Email}" /></p>
    <p>First Name: <input type="text" th:field="*{FirstName}" /></p>
    <p>Last Name: <input type="text" th:field="*{LastName}" /></p>
    <p>Password: <input type="text" th:field="*{Password}" /></p>
    <p>Confirmed Password: <input type="text" th:field="*{CPassword}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<div th:if="${payment.errormsg != null}">
    <script th:inline="javascript">
        window.alert([[${payment.errormsg.resultMessage}]]);
        if ([[${payment.errormsg.resultMessage == 'success'}]]){
            window.location.href = "submitorder";
        }
    </script>
</div>
</body>
</html>
