<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant</title>
</head>
<body>
  <table style="margin-left: auto; margin-right: auto;">
    <tbody>
    <tr>
      <td style="height: 50px;">Menu</td>
    </tr>
    </tbody>
  </table>
  <table style="margin-left: auto; margin-right: auto;">
    <tbody>
    <form action="#" th:action="@{/menu/update}" method="post">
    <tr th:each="food: ${menu}">

          <td style="height:50px; width:150px" th:text="${food.name}" />
          <td style="height:50px;">$<td th:text="${food.price}" />
          <td><input type="number" min="0" max="10" placeholder="0" name="quantity"/></td>
      </tr>
      <tr>
        <td><input type="submit"value="Submit" /><input type="reset" value="Reset" /></td>
      </tr>
    </form>
    </tbody>
  </table>
</body>
</html>
