<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update User Information</title>
</head>
<body>
<table style="margin-left: auto; margin-right: auto;">
  <tbody>
  <tr>
    <td style="height: 50px;">Update User Information</td>
  </tr>
  </tbody>
</table>
<table border="black" style="margin-left: auto; margin-right: auto;">
  <tbody>
  <form class="pure-form" action="#" th:action="@{/updateuserinfo}" th:object="${user}" method="post" >
   <label>First Name</label>
    <input type="text" th:field="*{firstName}"/>
    <br>
    <br>
    <label>Last Name</label>
    <input type="text" th:field="*{lastName}"/>
    <br>
    <br>
    <label>Email</label>
    <input type="text" th:field="*{email}"/>
    <br>
    <br>
    <label>Old Password</label>
      <!--https://www.w3schools.com/howto/howto_js_password_validation.asp-->
   <input type="password"  id="txtOldPassword" placeholder="Old Password" th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
    <br>
    <br>
   <label>New Password</label>
    <input type="password" id="txtNewPassword" placeholder="New Password" th:field="*{confirmedPassword}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
    <br>
    <br>
    <label>Confirm Password</label>
    <input type="password" id="txtConfirmPassword" placeholder="Confirm Password"th:field="*{reconfirmedPassword}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
    <br>
    <br>
    </tr>
    <tr>
      <td>
          <button type="submit" id="btnSubmit" value="Submit" onclick="return Validate()">Submit</button>
    </tr>
  </form>
  <script type="text/javascript">
    function Validate() {
        var oldPassword = document.getElementById("txtOldPassword").value;
        var newPassword = document.getElementById("txtNewPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;

        if((oldPassword == newPassword)) {
         alert("Old and New Passwords should not be same.");
        return false;
        }
        else if((newPassword != confirmPassword) ){
            alert("New and Confirm Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
  </tbody>
</table>
</body>
</html>
