<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HALIFAX AMUSEMENT PARK</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<div class="head">
    <!--inserting main text on the welcome page-->
    HALIFAX AMUSEMENT PARK
</div>

<div class="container">

    <!--inserting buttons on the welcome page-->
    <button class="guestbutton-class" style="background-color:rgb(167, 159, 211)" type="button" >
        Proceed As Guest
    </button>

    <button class="loginbutton-class" style="background-color: rgb(167, 159, 211)" type="button">
        Login
    </button>

    <br></br>

    <!--inserting images on the welcome page-->
    <img class = "img-class" src="pics/1.png"  alt="HAP Roller coaster" >
    <img class = "img2-class" src="pics/2.jfif" alt="HAP Water ride">
    <img class = "img3-class" src="pics/3.jpg" alt="HAP Food">


</div>
</body>

</html>























